@font-face {
    font-family: mlight;
    src: url(font/MyriadPro-Light.otf);
}

@font-face {
    font-family: mbold;
    src: url(font/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: mregular;
    src: url(font/MYRIADPRO-REGULAR.OTF);
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0vw;
    left: 0vw;
    background: #222e29;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 100vh;
    background: #222e29;
}

#tittle {
    margin-top: 3vw;
    font-size: 2vw;
    color: white;
    font-family: mregular;
}

#product {
    font-size: 1.5vw;
    margin-top: 2vw;
    color: white;
    font-family: mlight;
}

#options {
    font-size: 1.5vw;
    margin-top: 0vw;
    color: white;
    font-family: mlight;
}

#car {
    font-size: 1.5vw;
    margin-top: 5vw;
    color: white;
    font-family: mlight;
}

.stock {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 70vw;
    height: 90vh;
    background: #93bfa9;
    top: 2.5vw;
    left: 25vw;
    border-radius: 3vw;
}

.stock > div {
    margin-top: 5vw;
    width: 15vw;
    height: 15vw;
    background-color: white;
    border-radius: 2vw;
}

#allproduct {
    position: absolute;
    font-size: 2vw;
    font-family: mregular;
    left: 3vw;
    top: 0vw;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: #3b5249;
    border-radius: 1vw;
    margin-top: 11.5vw;
}

.information > p {
    margin-top: 0vw;
    margin-left: 1vw;
    font-size: 0.8vw;
    font-family: mlight;
    color: white;
}

.agregar1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 18vw;
    left: 11vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 18vw;
    left: 28vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 18vw;
    left: 45vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 18vw;
    left: 62vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 41.2vw;
    left: 11vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 41.2vw;
    left: 28vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar7 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 41.2vw;
    left: 45vw;
    font-size: 0.8vw;
    font-family: mlight;
}

.agregar8 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    background-color: #93bfa9;
    border-radius: 0.5vw;
    top: 41.2vw;
    left: 62vw;
    font-size: 0.8vw;
    font-family: mlight;
}

#camisa1 {
    position: absolute;
    width: 7vw;
    left: 6vw;
    top: 6.5vw;
}

#camisa2 {
    position: absolute;
    width: 7.8vw;
    left: 23vw;
    top: 6.5vw;
}


#abrigo1 {
    position: absolute;
    width: 7.8vw;
    left: 40vw;
    top: 6.5vw;
}

#abrigo2 {
    position: absolute;
    width: 7.5vw;
    left: 57vw;
    top: 6.5vw;
}

#pantalon1 {
    position: absolute;
    width: 5vw;
    left: 7vw;
    top: 30vw;
}

#pantalon2 {
    position: absolute;
    width: 5vw;
    left: 24vw;
    top: 31vw;
}

#pantalon3 {
    position: absolute;
    width: 5vw;
    left: 41vw;
    top: 30vw;
}

#pantalon4 {
    position: absolute;
    width: 5vw;
    left: 58vw;
    top: 30vw;
}