@font-face {
    font-family: mlight;
    src: url(../font/MyriadPro-Light.otf);
}

@font-face {
    font-family: mbold;
    src: url(../font/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: mregular;
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0vw;
    left: 0vw;
    background: #222e29;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25vw;
    height: 100vh;
    background: #222e29;
}

.menu a {
    text-decoration: none;
}

#tittle {
    margin-left: 6vw;
    margin-top: 3vw;
    font-size: 2vw;
    color: white;
    font-family: mregular;
}

#product {
    margin-left: 6vw;
    font-size: 1.5vw;
    margin-top: 2vw;
    color: white;
    font-family: mlight;
}

#options {
    margin-left: 6vw;
    font-size: 1.5vw;
    margin-top: 0vw;
    color: white;
    font-family: mlight;
}

#car {
    margin-left: 6vw;
    font-size: 1.5vw;
    margin-top: 5vw;
    color: white;
    font-family: mlight;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 3vw;
    top: 12.5vw;
    gap: 1.5vw;
}

.icons img {
    width: 1.8vw;
}

#iconcarrito {
    margin-left: 0vw;
    margin-top: 5vw;
    width: 2vw;
}

.stock {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior:  smooth;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background: #93bfa9;
    top: 2.5vw;
    left: 25vw;
    border-radius: 3vw;
}

.stock > div {
    width: 60vw;
    height: 10vw;
    background-color: white;
    border-radius: 2vw;
}

.c1 {
    position: absolute;
    top: 5vw;
    left: 2vw;
}

.c2 {
    position: absolute;
    top: 16vw;
    left: 2vw;
}

.c3 {
    position: absolute;
    top: 27vw;
    left: 2vw;
}


#allproduct {
    position: absolute;
    font-size: 2vw;
    font-family: mregular;
    left: 3vw;
    top: 0vw;
}

#pantalon1 {
    position: absolute;
    width: 4.5vw;
    left: 5vw;
    top: 1vw;
}

#abrigo2 {
    position: absolute;
    width: 7vw;
    left: 4vw;
    top: 1vw;
}


#camisa3 {
    position: absolute;
    width: 7vw;
    left: 4vw;
    top: 1vw;
}

#nombre {
    margin-top: 4vw;
    margin-left: 13vw;
    font-size: 1vw;
    font-family: mregular;
}

#cant {
    position: absolute;
    top:  5.5vw;
    left: 24vw;
    width: 8vw;height: 1vw;
}

#cantidad {
    margin-top: -5vw;
    margin-left: 26vw;
    font-family: mregular;
    font-size: 1.2vw;
}

.cost1 {
    font-family: mregular;
    font-size: 1.2vw;
    margin-left: 35vw;
    margin-top: -2.4vw;
}

.subcost1 {
    font-family: mregular;
    font-size: 1.2vw;
    margin-left: 40vw;
    margin-top: -5.3vw;
}

.cost {
    font-family: mregular;
    font-size: 1.2vw;
    margin-left: 35vw;
    margin-top: -3.4vw;
}

.subcost {
    font-family: mregular;
    font-size: 1.2vw;
    margin-left: 40vw;
    margin-top: -5.3vw;
}

#trash1 {
    position: absolute;
    top: 3vw;
    left: 50vw;
    width: 5vw;
}

#trash2 {
    position: absolute;
    top: 3vw;
    left: 50vw;
    width: 5vw;
}

#trash3 {
    position: absolute;
    top: 3vw;
    left: 50vw;
    width: 5vw;
}